html {
    font-family: Roboto, sans-serif, system-ui;
    --board-size: 3;

}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(19, 15, 33);
    padding: 1em;
}

button {
    cursor: pointer;
    font-weight: bold;
    border: none;
}

button:hover {
    background: rgb(245, 241, 192);
}

button:active {
    background: rgb(187, 187, 187);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(var(--board-size), 1fr);
    grid-template-rows: repeat(var(--board-size), 1fr);
    width: 300px;
    height: 300px;
    gap: 0.4em;
    border: 0.5em solid rgb(120, 120, 120);
    border-radius: 6px;
    margin: 0.5em;
}

.board-button {
    background: rgb(243, 240, 240);
    font-size: 3em;
    transition: all 0.04s;
}

.player,
.status {
    color: white;
}